{% include 'overall_header.html' %}

<h1>{{ lang('ACP_LAZY_LOADING') }}</h1>

<form id="lazy_loading_settings" method="POST" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="lazy_load_images">{{ lang('ACP_LAZY_LOAD_IMAGES') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<label>
					<input type="radio" id="lazy_load_images" name="lazy_load_images" value="1"{% if LAZY_LOAD_IMAGES %} checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="lazy_load_images" value="0"{% if not LAZY_LOAD_IMAGES %} checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}" />
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}" />
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
