{% include 'overall_header.html' %}

<h1>{{ lang('ACP_LAZY_LOAD') }}</h1>

<form id="lazy_load_settings" method="POST" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		{%- for ELEMENT in LAZY_LOAD_ELEMENTS %}
		<dl>
			<dt>
				<label for="{{ ELEMENT.KEY }}">{{ ELEMENT.NAME }}{{ lang('COLON') }}</label>
				{%- if ELEMENT.EXPLAIN %}
				<br /><span>{{ ELEMENT.EXPLAIN }}</span>
				{%- endif %}
			</dt>
			<dd>
				<label>
					<input type="radio" id="{{ ELEMENT.KEY }}" name="{{ ELEMENT.KEY }}" value="1"{% if ELEMENT.ENABLED %} checked="checked"{% endif %} />
					{{ lang('YES') }}
				</label>
				<label>
					<input type="radio" name="{{ ELEMENT.KEY }}" value="0"{% if not ELEMENT.ENABLED %} checked="checked"{% endif %} />
					{{ lang('NO') }}
				</label>
			</dd>
		</dl>
		{%- endfor %}
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}" />
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}" />
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
